[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/Dtor-Project/unbound
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Dtor-Project/rapidjson
[submodule "external/RandomX"]
	path = external/RandomX
	url = https://github.com/Dtor-Project/RandomX
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/Dtor-Project/miniupnp
